<script>
const departsInput = document.getElementById('departsInput');

const currentDate = new Date();
const addOneYear = new Date(currentDate.getFullYear() + 1, currentDate.getMonth(), currentDate.getDate());

const formattedDate = addOneYear.toISOString().slice(0, 16);

departsInput.value = formattedDate;
</script>

</body>
</html>
