* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #223028;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav {
  color: #A0BBAC;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #668F78;
  padding: 30px 0;
  margin: -50px -50px;
  font-size: 16px;
}

nav a {
  color: #33483C;
  margin: 0 10px;
  background-color: #668F78;
}

.spacer {
  margin-left: 4px;
  margin-right: 4px;
  background-color: #668F78;
}

h2 {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  color: #DBE6E0;
  margin-bottom: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  color: #DBE6E0;
}

th, td {
  padding: 10px;
  border: 1px solid #DBE6E0;
  text-align: left;
}

.submit-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #DBE6E0;
}

label {
  padding: 10px;
  font-size: 16px;
}

select {
  padding: 5px;
  font-size: 14px;
}

input {
  padding: 5px;
}

.submit-button {
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #ACD8C8;
}

.past-departure {
  color: red;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: #DBE6E0
}

.destination-container {
  display: flex;
  margin-right: 130px;
}

.destination-label {
  margin-right: 10px;
}

.label {
  font-style: bold;
  font-size: 16px;
}

.content {
  display: grid;
  justify-content: center;
}

.form-bottom {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
  color: #DBE6E0;
}

.destination-button {
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
}

.view-details {
  color: #A0BBAC;
}
